
@media screen and (max-width: 818px) {
   
    .headertitle{
        margin-left: 10%;
        margin-top: 3%;
        font-size:large;
        text-align: center;
    }
   
   
}
@media screen and (max-width: 536px) {
   
    .abilities {
        flex-direction: column;
    }
    .abilityvalue{
        margin-left: 17%;
    }
   
    
    .headertitle{
        display: none;
    }
   
   
}
@media screen and (max-width: 460px) {
   
    .header {
        width:119%;
    }
    .footer{
        width:119%;
        bottom: -24rem;
      
    }
    .footer-content{
        height: 24rem;
    }
    .nav-items {
        margin-right: inherit;
    }
 
    .toggle-button{
        display: flex;

        
    }
    .nav-items{
        display: none;
        width: 100%;
       flex-direction: column;
       margin-left: 20%;
      
    }
    .nav-items.active{
        display: flex;
        
    }
  .hamburger.active{
  transform: rotate(90deg);
  transition: 0.6s;
  }
    .header{ 
        flex-direction: column;
        align-items: flex-start;
    }
    .text-link{
        padding: .5rem 1rem;
    }
    
    
}

