/*******************/

.weapon-page{
  margin: 5px;;
  }
  
  .weapon-img{
     height: 150px;
     width:300px;
     margin-left:-10px;
  }
  
  @media screen and (min-width: 500px) {
    .weapon-img{
        height: 150px;
        width:400px;
        margin-left:10%;
     }
     
}
@media screen and (min-width: 800px) {
    .weapon-img{
        
        margin-left:35%;
     }
     
}
  .weapon-info{
  margin-left: 20%;
  }
  
  
  .skins-heading{
  margin-left: 40px;
  }
  .weapon-skins{
      display: flex;
      background-color:transparent;
   flex-wrap: wrap;
    
  }
  .skin-container{
      
      overflow: hidden;
     padding: 30px;
     margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  }
  .skindiv{
    height: 150px;
    width: 300px;

  }
  .skin-img{
      
     height: 100%;
      width:100%;
     
    
  }
  .skin-name{
   
      color: whitesmoke;
    
     margin-top: 5px;
      text-align: center;
      padding: 0px;
      font-size: 1.1rem;
  }
  
  .skin-img:hover{
      transform: scale3d(1.2, 1.2, 1.2);
  
  }